<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<title>Starter Template - Materialize</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="./css/materialize.min.css">

</head>

<body>
	<nav class="light-blue lighten-1" role="navigation">
		<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Expense Tracker</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="#">Design Document</a></li>
			</ul>

			<ul id="nav-mobile" class="sidenav">
				<li><a href="#">Design Document</a></li>
			</ul>
			<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		</div>
	</nav>
	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			<br><br>
			<h1 class="header center orange-text">Expense Tracker</h1>
			<div class="row center">
				<h5 class="header col s12 light">An easy to use and helpful expense tracker for your daily needs</h5>
			</div>

			<% if (!user) { %>
			<div class="row center">
				<div class="col s6">
					<a href="/login" id="download-button" class=" btn waves-effect waves-light orange">Login</a>
				</div>
				<div class="col s6">
					<a href="/signup" id="download-button" class="btn waves-effect waves-light orange">Sign Up</a>
				</div>
			</div>
			<% } else { %>
			<div class="row center">


				<a href="/expenses" id="download-button" class="btn waves-effect waves-light orange">See Expenses</a>
				 </div> <% } %> <br><br>

			</div>
		</div>


		<div class="container">
			<div class="section">



				<!--   Icon Section   -->
				<div class="row">
					<div class="col s6 ">
						<div class="icon-block">
							<h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
							<h5 class="center">Super fast Entries</h5>

							<p class="light">Expense Tracker provides you with a lightweight, intuitive and powerful
								UI/UX which provides a smooth and frictionless experience with your expense management.
								</p>
						</div>
					</div>

					

					<div class="col s6  >
						<div class="icon-block">
							<h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
							<h5 class="center">Amazing Features</h5>

							<p class="light">We have included a powerful visualization tool to help you 
								keep in sync with your monthly expenditures with the blink of your eye.</p>
						</div>
					</div>
				</div>

			</div>
			<br><br>
		</div>

		<footer class="page-footer orange">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">About Tejaswini</h5>
						<p class="grey-text text-lighten-4">We are a team of college students working on this project
							like
							it's our full time job. Any amount would help support and continue development on this
							project
							and is greatly appreciated.</p>


					</div>
					
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					Check it out from <a class="orange-text text-lighten-3" href="https://github.com/techfoodie">Github</a>
				</div>
			</div>
		</footer>


		<!--  Scripts-->
		<script src="./js/jquery.min.js"></script>
		<script src="./js/materialize.min.js"></script>
		<script src="./js/common.js"></script>



</body>

</html>